.u-section-1 .u-sheet-1 {
  min-height: 1018px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 288px;
  margin: 365px auto 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 206px;
  min-width: 110px;
  animation-duration: 1000ms;
  margin: 55px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  animation-duration: 1000ms;
  width: 524px;
  margin: 176px auto 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-text-1 {
    margin-top: 167px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 172px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 273px;
    margin-top: 372px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 207px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 172px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 22px;
  }

  .u-section-1 .u-text-1 {
    margin: 319px 1px 28px;
  }
}

.u-svg-link:hover {
  fill: purple;
}