/* Variables */
:root {
  --HEADER_SIZE:        7vh;
  --MENU_SIZE:          3vh;
  --LOGOS_SIZE:         3vh;
  --CL_WHITE:           #ffffff;
  --CL_BLACK:           #000000;
  --CL_ACCENT:          #c70072;
  --CL_MIDCOL:          #6272a4;
  --FNT_MAIN:           "Helvetica";
  --FNT_FOOTER:         "Arial";
  --SLIDE_IMG_HEIGHT:   75vh;
  --SLIDE_VID_HEIGHT:   75vh;
  --BG_OPACITY:         0.2;
  --BG_POSX:            0;
  --BG_POSY:            0;
}

@font-face {
  font-family: "Shapiro Wide";
  src: url(../fonts/Shapiro\ 55\ Middle\ Extd.woff2);
}
html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: var(--CL_WHITE);
  color: var(--CL_BLACK);
  margin: 0;
  padding: 0;
  height: 100%;
}
body::before {
  content: "";
  background-image: url(../images/bg.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: var(--BG_OPACITY);
  transition: 0.3s;
  background-position-x: var(--BG_POSX);
  background-position-y: var(--BG_POSY);
}
div.big-title {
  margin: 0px auto 0px;
  width: 781.25px;
  text-align: center;
  padding: 0px;
  border: 7.5px solid var(--CL_BLACK);
  margin-top: 25px;
  height: 355px;
}

h1.big-title {
  font-family: "Shapiro Wide";
  font-size: 112.5px;
  margin-top: 17.5px;
  margin-bottom: 0px;
}

h3.big-title {
  margin: 0 auto 10px;
  font-size: 25px;
  font-family: "Shapiro Wide";
}

.links {
  font-size: 25px;
  font-family: "Helvetica";
  font-weight: bold;
  margin-bottom: 12.5px;
}

a {
  color: var(--CL_MIDCOL);
  transition: 0.3s;
}
a:hover {
  color: var(--CL_ACCENT);
  letter-spacing: 0.2em;
}
.mcrc {
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
}
.lower {
  width: 796.25px;
  text-align: center;
  margin: 0 auto 0;
}
.slide {
  margin-top: 25px;
  border: 7.5px solid var(--CL_BLACK);
  text-align: left;
  height: 250px;
}
.slide img {
  width: 200px;
  float: left;
}
.slide h1 {
  font-family: "Shapiro Wide";
  font-weight: 300;
  float: left;
}
#toggle {
  background: none;
  border: none;
  font-size: 60px;
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 30px;
}